/* ===== MEDIA ===== */
/* ----- HEIGHT ---- */
/* ----- WIDTH ---- */
@media (max-width: 1300px) {
  /* ===== PRODUCTS PAGE ===== */
  #iso-grid .col-sm-2 {
    width: 25%; } }
@media (max-width: 992px) {
  h1, .h1 {
    font-size: 3.0rem;
    letter-spacing: 2px; }

  .padding-page {
    padding: 0px 20px; }

  header {
    top: 0;
    width: 100%;
    min-height: 130px;
    z-index: 102;
    pointer-events: all; }
    header .logo {
      width: 150px;
      padding: 20px 0px 0px 20px; }

  .mobile-menu {
    padding: 20px 10px;
    width: 70px;
    cursor: pointer; }

  .mobile-menu .icon-bar {
    border-radius: 0px;
    display: block;
    height: 2px;
    width: 31px;
    margin: 0px;
    margin-left: 12px;
    background: #000000;
    transition: all 0.2s ease; }

  .mobile-menu .icon-bar:first-of-type {
    margin-bottom: 10px;
    margin-left: 0px;
    width: 43px; }

  .mobile-menu .icon-bar:last-of-type {
    margin-top: 10px;
    margin-left: 7px;
    width: 36px; }

  .mobile-cart {
    width: 50px;
    padding: 20px 10px;
    cursor: pointer; }

  /* ===== MAIN MENU ===== */
  .menu-holder {
    position: absolute;
    top: -1000px;
    right: auto;
    left: 0px;
    width: 100%;
    background: #000000;
    z-index: 103; }

  .menu-holder .menu .menu-main a {
    font-size: 1.8rem;
    padding: 10px 0; }

  .menu-holder .menu .menu-sub a {
    font-size: 1.4rem;
    padding: 5px 0; }

  .menu-holder .menu-close {
    top: 20px;
    right: 20px;
    margin-top: 0px; }

  /* ===== CART MENU ===== */
  .cart-menu {
    top: 0px;
    right: auto;
    left: 0px;
    width: 100%;
    z-index: 103; }

  .cart-menu .cart-list {
    padding: 30px 20px 40px 40px; }

  /* ===== MAIN VIZ ===== */
  .main-viz .pager {
    bottom: 0px;
    right: 20px;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  .main-viz .intro-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    border: 2px solid #000000; }

  .main-viz .intro-box h2 {
    text-align: center;
    font-size: 5.0rem;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: 8px;
    margin: 0; }

  .main-viz .intro-box h3 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 3px;
    text-transform: none;
    margin: 20px 0px 20px; }

  /* ===== PRODUCTS PAGE ===== */
  .title-bar {
    padding: 130px 20px 30px; }

  #iso-grid .col-sm-2 {
    width: 33.3%; }

  #iso-grid .item .pic-holder {
    height: 300px; }

  #iso-grid .item:hover .pic-holder {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  #iso-grid .item .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: static;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #ffffff;
    padding: 0px 30px;
    opacity: 1;
    z-index: 10;
    min-height: 100px;
    transition: all 0.5s ease; }

  #iso-grid .item .desc h2 {
    font-size: 1.6rem;
    line-height: 90%;
    letter-spacing: 2px;
    margin: 14px 0px 14px;
    color: #000000;
    text-align: center; }

  #iso-grid .item .desc .price {
    color: #000000;
    padding: 0px 0px;
    text-align: center; }

  #iso-grid .item .desc .price span {
    font-size: 1.6rem; }

  #iso-grid .item .desc .price span.old-price {
    font-size: 1.4rem;
    color: #7b7b7b;
    text-decoration: line-through; }

  /* ===== PRODUCT PAGE ===== */
  .product-pic-main-mobile .bx-wrapper {
    margin: 0px; }

  .product-pic-main-mobile .bx-wrapper .bx-controls-direction a {
    height: 32px;
    margin-top: -16px;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 30px;
    z-index: 90; }

  .product-pic-main-mobile .bx-wrapper .bx-prev {
    background: url("../img/slider-prev.png") no-repeat 50% 50%;
    background-size: auto 16px;
    left: 10px; }

  .product-pic-main-mobile .bx-wrapper .bx-next {
    background: url("../img/slider-next.png") no-repeat 50% 50%;
    background-size: auto 16px;
    right: 10px; }

  .product-desc {
    position: static;
    top: auto;
    right: auto;
    width: auto;
    margin: 0px 15px; }

  .product-desc .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0px 20px 0px; }

  .product-desc .head h2 {
    font-size: 2.9rem;
    font-weight: 500;
    line-height: 90%;
    padding: 0px 0px 0px 0px;
    margin: 0; }

  .product-desc .p-table {
    margin: 0px 0px 20px 0px; }

  .product-desc .p-table td {
    height: 40px;
    padding: 5px 0px !important; }

  .product-similar {
    background: #ffffff;
    margin: 0px 0px 10px; }

  .product-similar h2.head-title {
    font-size: 2.8rem;
    text-align: center;
    padding: 30px 20px 0px 0px; }

  .product-similar .line {
    border-bottom: 1px solid #a8a8a8;
    margin: 30px 15px 0px; }

  /* ===== YOUR ORDER  ===== */
  .article-title {
    padding: 110px 15px 10px;
    text-align: center; }

  .select-wide .selectboxit-container {
    padding: 15px 0 15px; }

  .order-list-mobile {
    padding: 0px 20px; }

  .order-item-row-mobile {
    display: flex;
    padding: 15px 0px;
    border-bottom: 1px solid #cccccc; }

  .order-item-row-mobile:first-of-type {
    border-top: 1px solid #cccccc; }

  .order-item-row-mobile .pic {
    flex: 0 0 auto;
    width: 95px;
    margin-right: 15px; }

  .order-item-row-mobile .pic img {
    width: 100%; }

  .order-item-row-mobile .item-info {
    flex: 1 1 auto; }

  .order-item-row-mobile .item-info h4 {
    display: block;
    margin: 0 0 15px;
    padding-right: 40px; }

  .order-item-row-mobile .item-info span {
    display: inline-block;
    margin: 0;
    padding-right: 20px; }

  .order-item-row-mobile .item-info .price {
    right: 0px;
    bottom: 0px; }

  .order-item-row-mobile .item-info .close-x {
    top: 0px;
    right: 0px; }

  .order-item-row-mobile .elem-del {
    width: 40px;
    height: 30px;
    margin-right: -7px;
    cursor: pointer; }

  .order-item-row-mobile .elem-del span.icon-bar {
    background: #000000;
    border-radius: 0;
    display: block;
    height: 2px;
    margin: 0;
    position: absolute;
    right: 5px;
    top: 13px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.2s ease;
    width: 26px; }

  .order-item-row-mobile .elem-del span.icon-bar:last-of-type {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition-delay: 0.1s; }

  .order-list-mobile .summary {
    text-align: right;
    padding: 20px 0px; }

  .order-list-mobile .summary span {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px; }

  .order-summary {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 20px 20px 100px 20px; }

  .order-summary .back {
    width: 220px;
    order: 3; }

  .order-summary .info {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom: none; }

  .order-summary .info .delivery-info {
    border-right: none; }

  .order-summary .info .delivery-info .box-address {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #cccccc; }

  .order-summary .info .delivery-info .box-delivery {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #cccccc; }

  .order-summary .info .delivery-info .box-payment {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #cccccc; }

  .order-summary .pricing {
    flex: 1 0 auto;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

  .order-summary .pricing .list {
    flex: 1 0 auto;
    text-align: right;
    padding: 20px 0px; }

  .order-summary .pricing .list span {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px; }

  /* ===== My Account ===== */
  .form-container input {
    display: inline-block;
    width: 100%;
    padding: 15px 0px 15px 0px;
    border: none;
    border-bottom: 1px solid #cccccc; }

  /* ===== ABOUT US ===== */
  .about-us .text-holder {
    background: #000000;
    color: #ffffff;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; }

  /* ===== FOOTER ===== */
  footer {
    padding: 10px 20px; }

  footer .social {
    padding: 10px 0px 10px; }

  footer .social span {
    padding: 0px 0px 10px; }

  footer .social a {
    font-size: 2.0rem;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  footer .copyright {
    padding: 0px 0px 10px; } }
@media (max-width: 480px) {
  #iso-grid .item .pic-holder {
    height: 250px; }

  #iso-grid .col-sm-2 {
    width: 49%; } }

/*# sourceMappingURL=media.css.map */
