/* ===== MEDIA ===== */
/* ----- HEIGHT ---- */
/* ----- WIDTH ---- */
@media (max-width: 1300px) {
  /* ===== PRODUCTS PAGE ===== */
  #iso-grid .col-sm-2 {
    width: 25%; } }
@media (max-width: 992px) {
  header {
    top: 0;
    width: 100%;
    min-height: 130px;
    z-index: 102;
    pointer-events: all; }
    header .logo {
      width: 150px;
      padding: 20px 0px 0px 20px; }

  .mobile-menu {
    padding: 20px 10px;
    width: 70px;
    cursor: pointer; }

  .mobile-menu .icon-bar {
    border-radius: 0px;
    display: block;
    height: 2px;
    width: 31px;
    margin: 0px;
    margin-left: 12px;
    background: #000000;
    transition: all 0.2s ease; }

  .mobile-menu .icon-bar:first-of-type {
    margin-bottom: 10px;
    margin-left: 0px;
    width: 43px; }

  .mobile-menu .icon-bar:last-of-type {
    margin-top: 10px;
    margin-left: 7px;
    width: 36px; }

  .mobile-cart {
    width: 50px;
    padding: 20px 10px;
    cursor: pointer; }

  /* ===== MAIN MENU ===== */
  .menu-holder {
    position: absolute;
    top: -1000px;
    right: auto;
    left: 0px;
    width: 100%;
    background: #000000;
    z-index: 103; }

  .menu-holder .menu .menu-main a {
    font-size: 1.8rem;
    padding: 10px 0; }

  .menu-holder .menu .menu-sub a {
    font-size: 1.4rem;
    padding: 5px 0; }

  .menu-holder .menu-close {
    top: 20px;
    right: 20px;
    margin-top: 0px; }

  /* ===== CART MENU ===== */
  .cart-menu {
    top: 0px;
    right: auto;
    left: 0px;
    width: 100%;
    z-index: 103; }

  .cart-menu .cart-list {
    padding: 30px 20px 40px 40px; }

  /* ===== MAIN VIZ ===== */
  .main-viz .pager {
    bottom: 0px;
    right: 20px;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  .main-viz .intro-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
    border: 2px solid #000000; }

  .main-viz .intro-box h2 {
    text-align: center;
    font-size: 5.0rem;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: 8px;
    margin: 0; }

  .main-viz .intro-box h3 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 3px;
    text-transform: none;
    margin: 20px 0px 20px; }

  /* ===== PRODUCTS PAGE ===== */
  .title-bar {
    padding: 130px 20px 30px; }

  #iso-grid .col-sm-2 {
    width: 33.3%; }

  #iso-grid .item .pic-holder {
    height: 300px; }

  #iso-grid .item:hover .pic-holder {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  #iso-grid .item .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: static;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #ffffff;
    padding: 0px 30px;
    opacity: 1;
    z-index: 10;
    min-height: 100px;
    transition: all 0.5s ease; }

  #iso-grid .item .desc h2 {
    font-size: 1.6rem;
    line-height: 90%;
    letter-spacing: 2px;
    margin: 14px 0px 14px;
    color: #000000;
    text-align: center; }

  #iso-grid .item .desc .price {
    color: #000000;
    padding: 0px 0px;
    text-align: center; }

  #iso-grid .item .desc .price span {
    font-size: 1.6rem; }

  #iso-grid .item .desc .price span.old-price {
    font-size: 1.4rem;
    color: #7b7b7b;
    text-decoration: line-through; }

  /* ===== PRODUCT PAGE ===== */
  .product-pic-main-mobile .bx-wrapper {
    margin: 0px; }

  .product-desc {
    position: static;
    top: auto;
    right: auto;
    width: auto;
    margin: 0px 15px; }

  .product-desc .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0px 20px 0px; }

  .product-desc .head h2 {
    font-size: 2.9rem;
    font-weight: 500;
    line-height: 90%;
    padding: 0px 0px 0px 0px;
    margin: 0; }

  .product-desc .p-table {
    margin: 0px 0px 20px 0px; }

  .product-desc .p-table td {
    height: 40px;
    padding: 5px 0px !important; }

  .product-similar {
    background: #ffffff;
    margin: 0px 0px 10px; }

  .product-similar h2.head-title {
    font-size: 2.8rem;
    text-align: center;
    padding: 30px 20px 0px 0px; }

  .product-similar .line {
    border-bottom: 1px solid #a8a8a8;
    margin: 30px 15px 0px; }

  /* ===== FOOTER ===== */
  footer {
    padding: 10px 20px; }

  footer .social {
    padding: 10px 0px 10px; }

  footer .social span {
    padding: 0px 0px 10px; }

  footer .social a {
    font-size: 2.0rem;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  footer .copyright {
    padding: 0px 0px 10px; } }
@media (max-width: 480px) {
  #iso-grid .item .pic-holder {
    height: 250px; }

  #iso-grid .col-sm-2 {
    width: 49%; } }

/*# sourceMappingURL=media.css.map */
